{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block content %}
<style>
.search-form {
  display:flex;
  flex-direction:row;
}

.search-input {
  flex-grow:2;
}
</style>
<div class="container mt-1">
    <form action="{{ path('app_search') }}" method="get" class="search-form">
        <input id="query" name="query" type="search" class="search-input browser-default" placeholder="Recherche" title="Recherche" required>
        <button type="submit" class="btn"><i class="material-icons">search</i></button>
    </form>
</div>
{% endblock %}
